{
  "root": true,
  "env": {
    "node": true,
    "es6": true,
    "jest": true,
    "browser": true,
    "mocha": true
  },
  "extends": ["plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  }
}
